# google
CREDENTIAL = 'google service json file minified'

# telegram
# make sure your bot is admin of your channel
TG_CHANNEL = '@channelname'
TG_TOKEN = 'bot token given by botfather'
TG_ME_ID = 'your chat id with your bot'

# facebook
FB_ID = 'facebook fan page id'
FB_TOKEN = 'facebook access token with permission allowed to manage page'

# twitter
TW_API_KEY = 'twitter api key'
TW_API_SECRET = 'twitter api secret'
TW_OA_TOKEN = 'twitter oauth token'
TW_OA_SECRET = 'twitter oauth secret'

# image maker
IMAGE_MAKER_URL = 'link to quote image maker'
